<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
    <link rel="stylesheet" href="static/styles/style.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="static/js/angular/main.js"></script>
</head>

<body ng-app="myapp" ng-controller="tenant1_controller">
 <div id="wrapper" data-spy="scroll" data-target="#spy" class="">
    <!-- Sidebar -->
    <div id="sidebar-wrapper" class="">
        <nav id="spy">
            <ul class="sidebar-nav nav">
                <li class="sidebar-brand active"> <a href="/" class=""><span>Home</span></a>

                </li>
                <li> <a href="/tenant1" class="w3-border-bottom">
                            <span>Tenant1</span>
                        </a>
                </li>
                <li> <a href="/tenant2" class="w3-border-bottom">
                            <span>Tenant2</span>
                        </a>

                </li>
                <li> <a href="/tenant3" class="w3-border-bottom">
                            <span>Tenant3</span>
                        </a>

                </li>
                <li> <a href="/tenant4" class="w3-border-bottom">
                            <span>Tenant4</span>
                        </a>

                </li>
            </ul>
        </nav>
    </div>
    <!-- Page content -->
    <div>
        <br>
        <br>
        <br>
        <button ng-click="generateUML()">Generate UML Diagram</button>
        <br>
        <br>
<div ng-if="showuml">
         <p>UML Diagram generated</p>
            <img ng-src="data:image/JPEG;base64,{{image}}" style="width:70%">
            <!--<img ng-src="data:image/JPEG;base64,{{result}}">-->

        </div>

        <div ng-show="showuml">

            Grading
            <br>
            <br>
            <div class="w3-tag w3-large w3-orange">Complete</div>
            <br>
            <br>

            <label class="switch">
                <input type="checkbox" id="complete">
                <div class="slider round"></div>
            </label>

            <br>
            <br>

            <div class="w3-tag w3-large w3-orange">Points</div>

            <select ng-model="points">
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="75">75</option>
                <option value="100">100</option>
            </select>

            <textarea rows="4" cols="50" ng-model="comments">
            Enter comments for this submission.
            </textarea>
            <br>
            <br>
            <button ng-click="grade()">Submit</button>

        </div>


    </div>
</div>
</body>
