<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="static/styles/style.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
        <script src="static/js/angular/login.js"></script>
    </head>

    <body ng-app="login" ng-controller="login_controller">
            <br><br>Username
            <input type="text" placeholder="userid">
            <button ng-click="login()">Login</button>

    </body>
</html>